<style type="text/css">
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
</style>

<table width="100%" cellpadding="0" cellspacing="0" bgcolor="F4F4F4" style="font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#828282;">
  <tr>
    <td><br>
			<table align="center" width="552" cellpadding="0" cellspacing="0">
				<tr>
				  <td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-01.gif" width="552" height="76">
				    <table width="100%" height="76" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding:24px 0 0 28px;" valign="top" align="left"><a href="[site_URL]">$company-logo$</a></td>
                <td align="right" valign="top" style="padding:20px 28px 0 0;">
								<div style="font-size:18px; color:#3573AD;">##DD.MM.YYYY##</div>
								<div style="font-size:11px;color:#3573AD;"><a href="[SUBSCRIBE]" style="color:#3573AD;">Subscribe</a> | <a href="[UNSUBSCRIBE]" style="color:#3573AD;">Unsubscribe</a> | <a href="[FORWARD]" style="color:#3573AD;">Forward to a friend</a></div>
								</td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-02.gif" align="center">
				    <table width="546" cellspacing="0" cellpadding="0">
              <tr>
                <td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-03.gif" align="right"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-05.gif" width="41" height="3" alt=""></td>
              </tr>
              <tr>
                <td bgcolor="#D3E0EC">
                  <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100" align="center" valign="top" style="padding:13px 21px 13px 25px;"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/picture.gif" width="100" height="96" alt="Picture"></td>
                      <td align="left" style="padding:13px 0 13px 0;font-size:14px; color:#65788A;" valign="top">
													<strong>Duis autem</strong><br>
													Duis autem vel eum iriure dolor in hendrerit in vulputate velit 
													esse molestie consequat, vel illum dolore eu feugiat nulla 
													facilisis at vero eros et accumsan et iusto odio nissim qui 
													blandit. Nulla facilisis at vero eros et accumsan et iusto odio 
													dignissim qui blandit <a href="#" style="font-size:10px; color:#3573AD;">>>></a>											</td>
                      <td width="25" height="41" valign="top"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-06.gif" width="25" height="41" alt=""></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-04.gif" width="1" height="24"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-04.gif" width="1" height="24" alt=""></td>
              </tr>
							<tr>
								<td align="left" style="padding:0 25px 0 25px;">
									<div style="color:#6B8BAA; padding: 0 0 10px 0;"><strong>Dolor sit amet, consetetur sadipscing elit</strong>r</div>
									Dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore 
									dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet 
									clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero 
									voluptua. est Lorem ipsum dolor sit amet.
								</td>
							</tr>
							<tr>
								<td align="right" style="padding:0 25px 0 25px;"><a href="#" style="color:#3573AD;">Read more <span style="font-size:10px;">>>></span></a></td>
							</tr>
							<tr>
								<td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-07.gif"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-07.gif" alt="" width="1" height="49"></td>
							</tr>
							<tr>
								<td align="left" style="padding:0 25px 0 25px;">
									<div style="color:#6B8BAA; padding: 0 0 10px 0;"><strong>Dolor sit amet, consetetur sadipscing elit</strong>r</div>
									Dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore 
									dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet 
									clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero 
									voluptua. est Lorem ipsum dolor sit amet.
								</td>
							</tr>
							<tr>
								<td align="right" style="padding:0 25px 0 25px;"><a href="#" style="color:#3573AD;">Read more <span style="font-size:10px;">>>></span></a></td>
							</tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td>
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="28"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-08.gif" width="28" height="36" alt=""></td>
                <td background="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-10.gif">&nbsp;</td>
                <td width="28"><img src="[site_URL]/modules/EMAILMaker/templates/Basic2/i/i-09.gif" width="28" height="36" alt=""></td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="font-size:11px; color:#9DA8B7; padding: 15px 28px 0 28px;">
						$company-name$, $company-address$, $company-zip$ $company-city$, $company-state$<br>
						<hr size="1" color="#D4D4D4">
					</td>	
			  </tr>
			</table>
		</td>
  </tr>
</table>
